<div class="column {{column}}">
    <div class="field">
        <div class="control">
            <label for="{{id}}"><b>{{label}}</b></label>
            <input
                class="input {{colorClass}}"
                type="{{type}}"
                id="{{id}}"
                placeholder="{{placeholder}}"
                name="{{id}}"
                {{#if isRequired}}required{{/if}}>
        </div>
    </div>
</div>