<article class="tile is-clickable is-child notification" random-bulma-color plant-id="{{id}}">
  <img alt="{{title}}" class="is-ll" data-src="/images/plants/{{plantFileName}}" />
  <p class="title">{{title}}</p>
  <p class="subtitle">{{subtitle}}</p>
</article>